.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin-top: 2rem;
}

.about-me__image {
  max-width: 10rem;
  padding: 0.5rem;
}


