.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin-top: 2rem;
}

/* TODO: Figure out why this column-reverse is not working. */
@media all and (max-width: 60rem) {
  .about-me {
    flex-direction: column-reverse;
    align-content: center;
  }
}

.about-me__portrait {
  max-width: 10rem;
  background-color: var(--main-color-light-faded);
  
  border-radius: 1rem;
  border-width: 0.5rem;
  border-color: var(--dark-accent);
}

.about-me__work-text {
  border-width: 0.5rem;
  border-radius: 1rem;

  max-width: 50rem;

  border-color: var(--dark-accent);
  background-color: var(--main-color-dark-faded);
  color: white;
}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-width: 0.5rem;
  border-color: var(--dark-accent);
  background-color: var(--main-color-light-faded);
  border-radius: 1rem;
}

h2 {
  font-size: 1.5rem;
  
}

/* TODO: Implement the hobbies skeleton. */

.hobby__content {

}

.hobby__text {

}

.hobby__image {

}