/* styles.css or module.css */
.card {
  /* Positioning */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;

  /* Box Model */
  padding: 0.5rem;
  margin-top: 2rem;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

@media all and (max-width: 60rem) {
  .row {
    /* Positioning */
    flex-direction: column-reverse;
  }
  .row-reverse {
    /* Positioning */
    flex-direction: column;
  }
}