@import "./variables.css";

body {
  /* Visual */
  background-color: rgb(7, 49, 52);
}

h2 {
  /* Typography */
  font-size: 1.5rem;
}

p {
  /* Box Model */
  padding: 0.25rem;
}

main {
  /* Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  /* Box Model */
  padding-top: 3rem;
}

@media all and (max-width: 45rem) {
  main {
    /* Box Model */
    padding-top: 6rem;
  }
}

@media all and (max-width: 30rem) {
  main {
    /* Box Model */
    padding-top: 6rem;
  }
}