.aboutMePortrait {
  /* Box Model */
  max-width: 15rem;

  /* Visual */
  background-color: var(--main-color-light-faded);
  border-radius: 1rem;
  border-width: 0.5rem;
  border-color: var(--dark-accent);
}

.aboutMeWorkText {
  /* Box Model */
  max-width: 50rem;
  border-width: 0.5rem;
  border-radius: 1rem;

  /* Typography */
  color: white;

  /* Visual */
  background-color: var(--main-color-dark-faded);
  border-color: var(--dark-accent);
}