@import "tailwindcss";

:root {
    /* Palette */
    --electric-blue: #64e9eeff;
    --midnight-green: #093a3eff;
    --french-blue: #0d7ad4ff;
    --rich-black: #001011ff;
    --chamoisee: #966919;

    --tiffany-blue: #8fd1d3ff;
    --dark-slate-gray: #224e51ff;
    --steel-blue: #4285bbff;
    --gunmetal: #0d2f34ff;
    --beaver: #ab9684ff;

    /* Semantic colors */
    --main-color: var(--french-blue);
    --main-color-dark: var(--midnight-green);
    --main-color-light: var(--electric-blue);
    --accent-color: var(--chamoisee);
    --dark-accent: var(--rich-black);

    --main-color-faded: var(--steel-blue);
    --main-color-dark-faded: var(--dark-slate-gray);
    --main-color-light-faded: var(--tiffany-blue);
    --accent-color-faded: var(--beaver);
    --dark-accent-faded: var(--gunmetal);
}

body {
    background-color: rgb(7, 49, 52);
}

h1 {
  padding: 0.5rem;
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--main-color-light);
}

p {
  padding: 0.25rem;
}

header,
footer {
    background-color: var(--main-color-dark-faded);
    border-color: var(--dark-accent);
    color: white;

    border-width: 0.1rem;
    left: 0rem;
    right: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

header {
  top: 0rem;
  position: fixed;
}

footer {
  bottom: 0rem;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  min-width: 20rem;
  max-width: 40rem;
  margin-left: auto;
  width: 100%;
  color: white;
}

main {
  padding-top: 3rem;
}

@media all and (max-width: 45rem) {
  main {
    padding-top: 6rem;
  }
  
  .navigation-bar {
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 30rem) {
  main {
    padding-top: 6rem;
  }

  header,
  footer {
    flex-direction: column;
    align-items: center;
  }
}