@import "tailwindcss";

:root {
    /* Palette */
    --dark-moss-green: #606c38ff;
    --pakistan-green: #283618ff;
    --cornsilk: #fefae0ff;
    --earth-yellow: #dda15eff;
    --tigers-eye: #bc6c25ff;

    --tea-green: #ccd5aeff;
    --beige: #e9edc9ff;
    --papaya-whip: #faedcdff;
    --buff: #d4a373ff;

    /* Semantic colors */
    --dark-color: var(--pakistan-green);
    --light-color: var(--dark-moss-green);
    --off-white: var(--cornsilk);
    --light-brown: var(--earth-yellow);
    --dark-brown: var(--tigers-eye);

    --dark-color-faded: var(--tea-green);
    --light-color-faded: var(--beige);
    --off-white-faded: var(--cornsilk);
    --light-brown-faded: var(--papaya-whip);
    --dark-brown-faded: var(--buff);
}

body {
    background-color: var(--light-color);
    padding-bottom: 2000px;
}

h1 {
  padding: 0.5rem;
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  padding: 0.25rem;
}

header,
footer {
    background-color: var(--dark-color-faded);
    border-color: var(--dark-color);
    border-width: 0.1rem;
    position: fixed;
    left: 0rem;
    right: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

header {
  top: 0rem;
}

footer {
  bottom: 0rem;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  min-width: 20rem;
  max-width: 40rem;
  margin-left: auto;
  width: 100%;
}

main {
  padding-top: 3rem;
}
