.card {
  /* Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Box Model */
  border-width: 0.5rem;
  border-radius: 1rem;
  max-width: 50rem;

  /* Typography */
  color: var(--dark-accent-faded);

  /* Visual */
  background-color: var(--main-color-light-faded);
  border-color: var(--dark-accent);
}

.img {
  max-width: 15rem;
  border-radius: 1rem;
  border-width: 0.25rem;
  border-color: var(--dark-accent-faded);
}